{% extends 'base.html.twig' %}

{% block title %}EtapeCircuits{% endblock %}

{% block body %}

    <style>

        main{margin-top: 68px;}
        h2{color:cadetblue;text-align: center;font-weight: bold}
        .container{
            margin-top: 30px;
        }
        .container table tr th{
            text-decoration: underline;
            color: dodgerblue;
        }
        .container table img{
            border:solid 1px white;
            height: 60px;
            width: 90px;
        }
        .card-text{
            margin-left:auto;
            margin-right:auto;
        }
        a{
            color:#26a5d3;
        }
        a:hover,a:focus{
            text-decoration:none;
            color:#26a5d3;
        }
        .social a{font-size: 3em;padding: 2rem;}
        .fa-facebook{color: #3b5998;}
        .fa-twitter{color: #00aced;}
        .fa-google-plus-g{color: #dd4b39;}
        .fa-instagram{color: #517fa4;}
        .fa-youtube{color: #bb0000;}
        .fa-facebook:hover,.fa-twitter:hover,.fa-google-plus-g:hover
        ,.fa-instagram:hover,.fa-youtube:hover{color: #d5d5d5;}
        footer{margin-left:0px;width: 100%;background-color: #3f3f3f;color: #d5d5d5;padding-top: 2rem;}
        hr.light{border-top: 1px solid #d5d5d5;width: 75%;margin-top: .8rem;margin-bottom: 1rem;}
        footer a{color: #d5d5d5;}
        hr.light-100{border-top: 1px solid #d5d5d5;width: 75%;margin-top: .8rem;margin-bottom: 1rem;}
    </style>

    <main>
        <hr>
        <h2>{{ cir.desCircuit }}</h2>
        <hr>
    </main>
    <div class="card bg-light">
        <div class="card">
            <p class="card-text">Durée du circuit : {{ cir.dureeCircuit }}</p>
            <p class="card-text">Code du circuit :  {{ cir.codeCircuit }}</p>
        </div>
    </div>
    <div class="container">
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th scope="col">Ville étape</th>
                    <th scope="col">Circuit étape</th>
                    <th scope="col">Duree étape</th>
                    <th scope="col">Ordre étape</th>
                    {% if app.user %}
                    <th scope="col">Actions</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
            {% for etape in etapeCircuits %}
                <tr>
                    <td>{{ etape.codeVilleEtape.desVille }}</td>
                    <td>{{ etape.codeCircuitEtape.desCircuit }}</td>
                    <td>{{ etape.dureeEtape }}</td>
                    <td>{{ etape.ordreEtape }}</td>
                    {% if app.user %}
                    <td>
                        <p style="display:inline-block">
                            <button class="btn btn-warning">
                                <a href="{{ path('editEtapeCircuit',{id: etape.id, cir: etape.getCodeCircuitEtape.id}) }}" style="color: white;" ><i class="far fa-edit"></i> </a>
                            </button>&nbsp&nbsp&nbsp
                            <form method="post" action="{{ path('deleteEtapeCircuit',{id: etape.id, cir: etape.getCodeCircuitEtape.id}) }}" style="display:inline-block"  onsubmit="return confirm('Etes vous sùr de supprimer')">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ etape.id) }}">
                                <button  class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                            </form>
                        </p>
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if app.user %}
        <a href="{{ path('newEtapeCircuit',{id: cir.id}) }}"><img style="width: 100px;width: 100px;margin-left: 40%" src="http://icons.iconarchive.com/icons/graphicloads/100-flat-2/256/add-icon.png"> Ajouter EtapeCircuit</a>
        {% endif %}
        <br>
        <button class="btn btn-secondary">
            <a href="{{ path('circuit') }}" style="color: white;" ><i class="fas fa-undo-alt"></i> Retour</a>
        </button>&nbsp&nbsp&nbsp
    </div>
    <br>
    <footer>
        <div class="container-fluid padding">
            <div class="row text-center">
                <div class="col-md-4">
                    <hr class="light">
                    <h1 style="font-family: Vivaldi;">ToursDSI22</h1>
                    <hr class="light">
                    <p>(+216) 27 132 456</p>
                    <p>(+216) 70 123 456</p>
                    <p> Email : ToursDSI22@gmail.com</p>
                    <p><i class="fas fa-map-marker-alt"></i> Ariana, Charguia</p>
                </div>
                <div class="col-md-4">
                    <hr class="light">
                    <h5>Menu</h5>
                    <hr class="light">
                    <a href="{{ path('destination') }}"><p>Destination</p></a>
                    <a href="{{ path('circuit') }}"><p>Circuit</p></a>
                    <a href="{{ path('contact') }}"><p>Contact</p></a>
                </div>
                <div class="col-md-4">
                    <hr class="light">
                    <h5>Suivez-nous</h5>
                    <hr class="light">
                    <div class="col-12 social padding">
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-google-plus-g"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
                <div class="col-12">
                    <hr class="light">
                    <h5>&copy;ToursDSI22 2020</h5>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}
